add this to env

COINBASE_CLIENT_ID=
COINBASE_CLIENT_SECRET=
COINBASE_REDIRECT_URI=https://delu.la.com/login-cb-redirect



CDP_ENV=sandbox
CDP_KEY_ID=
CDP_KEY_SECRET=
CDP_DESTINATION_ADDRESS=  # Your Base network address where USDC should land
CDP_DESTINATION_NETWORK=base
COINBASE_SCOPES=wallet:accounts:read,wallet:transactions:read